<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- 用户管理 -->
	<bean id="pbUserService" class="com.promise.cn.common.service.impl.PBUserServiceImpl" autowire="byName" />
	<!-- 字典管理 -->
	<bean id="dictService" class="com.promise.cn.common.service.impl.DictServiceImpl" autowire="byName" />
	<!-- 消费管理 -->
	<bean id="moneyConsumeService" class="com.promise.cn.consume.service.impl.MoneyConsumeServiceImpl" autowire="byName" />
	<!-- 备忘录管理 -->
	<bean id="memorandumService" class="com.promise.cn.memorandum.service.impl.MemorandumServiceImpl" autowire="byName" />
	<!-- 任务管理 -->
	<bean id="taskRecordService" class="com.promise.cn.plan.service.impl.TaskRecordServiceImpl" autowire="byName" />
	<!-- 每天计划 -->
	<bean id="dayPlanService" class="com.promise.cn.plan.service.impl.DayPlanServiceImpl" autowire="byName" />
	<!-- 菜单管理 -->
	<bean id="menuService" class="com.promise.cn.common.service.impl.MenuServiceImpl" autowire="byName" />
	<!-- 文档管理 -->
	<bean id="fileManagerService" class="com.promise.cn.filemanager.service.impl.FileManagerServiceImpl" autowire="byName" />
	<!-- 文档转换对象 -->
	<bean id="converterService" class="com.promise.cn.common.service.impl.ConverterServiceImpl" autowire="byName" />
	<!-- 工作日志 -->
	<bean id="workLogService" class="com.promise.cn.work.service.impl.WorkLogServiceImpl" autowire="byName" />
	<!-- 项目管理 -->
	<bean id="projectManagerService" class="com.promise.cn.projectmanager.service.impl.ProjectManagerServiceImpl" autowire="byName" />
</beans>